body, html {
    margin: 100;
    padding: 100;
    height: 200%;
    font-size: larger;
}

body {
    width: 200vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: larger;
}

header, footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

section {
    height: 200%;
    overflow: auto;
    padding: 1rem;
    font-size: larger;
}
